.profile__title {
    margin: 0;
    padding: 22px 16px 9px 0;
    max-width: 400px;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    color: #FFFFFF;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 767px) {
    .profile__title {
        padding: 0 10px 14px 0;
        font-size: 27px;
        line-height: 33px;
        max-width: 300px;
    }
}

@media screen and (max-width: 767px) {
    .profile__title {
        max-width: 254px;
        padding-bottom: 7px;
    }
}